@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

body{
	margin: 0px;
	padding: 0px 0px;
	color:#241f30;
	width: 100%;
	height: 1080px;
	font-family: 'Azeret Mono', monospace;
}
* {
  box-sizing: border-box;
}





.hero{
	
	margin: 0px;
	padding: 0rem 0rem 5rem;
	background:url("../images/hero.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;

}




.intro{
display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 3rem;
}

.intro ul{
	margin: 0rem;
		padding: 0rem 0rem;
	list-style: none;
}



.intro  a{
/**	display: flex;
	justify-content: flex-end ;**/
	text-decoration: none;
	border: solid 2px #241f30;
	border-radius: 15px; 
	padding: 5px 15px;
	color:#241f30;
	margin: 0px 20px 0px 0px;
	transition: all 0.3s ease;
	
}
.intro  a:hover{
	cursor: pointer;
	background: #241f30;
	color: rgba(255,255,255,1.00);
	
}



.intro p{
display: flex;
	justify-content: flex-end ;
	align-items: flex-start;
}

*/

.intro  p a{
/**	display: flex;
	justify-content: flex-end ;**/
	text-decoration: none;
	border: solid 2px #241f30;
	border-radius: 15px; 
	padding: 5px 15px;
	color:#241f30;
	margin: 1rem 0rem;
	transition: all 0.3s ease;
	
}


.intro ul li{
	font-family: 'Azeret Mono', monospace;
	padding: 0rem 0rem;
	list-style: none;
	font-size: 5rem;
	color: rgba(255,255,255,0.00);
	-webkit-text-stroke: 3px #241f30;
text-stroke: 1px #241f30;
}




.statement{
 grid-column: 2/3;
}

.links{

	background:rgba(243,243,243,1.00);

	
}


.header{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem 0rem 0rem;
	font-size: 5rem;
	color: #C0C0C0;
}

.projects{
	margin: 0rem auto;
	width: 85%;
	padding: 5rem 0rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	
}

.box{
	padding: 0rem;
	text-align: center;
	transition: all 0.3s ease;
	height: 400px;
	width: 100%;
}

.box  a{
	text-decoration: none;
	color: white;
	margin: 0rem;
	padding: 0rem;
	font-size: 12px;
	
}

.content{
  color: white;
  font-size: 20px;
  text-align: center;
}
.munch{
	background: url("../images/Artboard 2.jpg");
	background-size: cover;
	background-position: center;
}

.neroli{
	background:url("../images/Artboard 1.jpg");
	background-size: cover;
	background-position: center;
}

.spotify{
	background:url("../images/spot.jpg");
	background-size: cover;
	background-position: center;
}

.chilango{
	background: url("../images/Artboard 8.jpg");
	background-size: cover;
	background-position: center;
}


.blood{
	background: url("../images/people.jpg");
	background-size: cover;
	background-position: center;
}

.operation{
	background: url("../images/opmock.jpg");
	background-size: cover;
	background-position: center;
}


.munch .content {
	display: flex;
	justify-content: center;
	align-items: center;
padding: 2rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #9964a8;
}
.neroli .content a{
color: #241f30;
}
.neroli .content {
	color: #241f30;
	display: flex;
	justify-content: center;
	align-items: center;
padding: 2rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #fcded2;
}

.spotify .content {
	display: flex;
	justify-content: center;
	align-items: center;
padding: 2rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:rgba(49,195,146,1.00);
}

.chilango .content {
	display: flex;
	justify-content: center;
	align-items: center;
padding: 2rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #ee4853;
}

.blood .content {
	display: flex;
	justify-content: center;
	align-items: center;
padding: 2rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:#241f30;
}

.operation .content {
	display: flex;
	justify-content: center;
	align-items: center;
padding: 2rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:#f8a352;
}






.box:hover .content {
  opacity: 1;
-webkit-box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.35);
-moz-box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.35);
box-shadow: 10px 10px 27px -8px rgba(0,0,0,0.35);
}




.process2 a{
display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: solid 2px #241f30;
	border-radius: 15px; 
	padding: 5px 15px;
	color:#241f30;
	margin: 1rem 0rem;
	transition: all 0.3s ease;
	
}

.process2  a:hover{
	cursor: pointer;
	background: #241f30;
	color: rgba(255,255,255,1.00);
	
}

.process2{

    grid-column: 2/3;


}

footer{
	background: rgba(255,255,255,1.00);

	padding: 1rem 0rem;
}

footer a{
/**	display: flex;
	justify-content: flex-end ;**/
	text-decoration: none;
	border: solid 2px #838383;
	border-radius: 15px; 
	padding: 5px 15px;
	color:#838383;
	margin: 0px 20px 0px 0px;
	transition: all 0.3s ease;
	
}
footer  a:hover{
	cursor: pointer;
	background: #241f30;
	color: rgba(255,255,255,1.00);
	border: none;
	
}



footer p{
display: flex;
	justify-content: center;
	align-items: center;
}


footer .logo{
	margin-top: 2rem;
display: flex;
align-items: flex-end;
justify-content: center;
}




@media only screen and (max-width: 1300px) {
	
	.header{
		display: block;
		margin: 0rem auto;
	width: 85%;
	font-size: 3rem;
	
}
	
.intro{
	display: inline-block;
	padding: 1rem;

}	
	
	.intro p a{
		display: none;
	}
	
	.process2{

    grid-column: 1/2;


}
	
	.intro a{
	font-size: 0.7rem;
	border: solid 2px white;
		color: white;

}
	.projects{
	display: grid;
	grid-template-columns:1fr;
	
	
}



.intro ul li {
	font-size: 2rem;
	color:  #241f30;
	-webkit-text-stroke: 0px;
	text-stroke:0px;
}

	footer p{
		display: grid;
			grid-template-columns: 1fr;
		margin: 0px auto;
		}
	
	footer p a{
	width: 85%;
    margin: 1rem auto 1rem;
    text-align: center;
		
		}
	
	
	
}














